/*
 * @Author: Xiaochun 
 * @Date: 2020-09-18 10:03:10 
 * @Last Modified by: Xiaochun
 * @Last Modified time: 2020-09-18 10:48:25
 */

 .nav{
  background: #eee;
  height: 30px;
  line-height: 30px;   
}
/* 用户部分 */
.nav .user{
  float: left;
}
.nav .user.login{
  /*注意：隐藏登录状态的*/
  /*这里没有空格，表示的是同一个元素，class既有user又有login*/
  display: none;
}
.nav .user .link{
  margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list{
  float: right;
}
.nav .nav-list .nav-item{
  display: inline-block;
  margin-left: 5px;
}

 